.card{
  width:100vw;
  height:100vh;
  background-color: rgb(52, 32, 32);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: aquamarine;
}